@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');

* {
    padding: 0;
    margin: 0;
}

html,
body {
    background-color: #141517;
}

.os {
    font-family: 'Oswald', sans-serif;
}

.pane {
    height: 50vh;
    display: flex;
    background: #fff;
    resize: both;
    overflow: auto;
}